.nav{
  border: 2px solid teal;
}
.Nested{
  position: relative; margin-top: 2%;
}
.link,.sublink{
  text-decoration: none; 
  color: black;
  margin:2%; padding: 10px 20px;}
.link:focus, .sublink:focus{
  color: yellow; 
  background-color: blue;  
}